<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Chip-8 emulator written in Typescript.">
    <title>Chip8 Emulator</title>
  </head>
  <body>
    <header class="header-container">
      <a class="header-element-logo" href="https://github.com/franciscodelahoz/Chip8-Emulator" target="_blank">
        <%= require('../resources/logo.svg') %>
        Chip8 Emulator
      </a>
      <div class="header-element-right">
        <button id="open-configurations-button" class="icon-button" title="Configurations">
          <%= require('../resources/cog.svg') %>
        </button>
      </div>
    </header>
    <main class="container">
      <section class="emulator-view">
        <canvas id="canvas" width="768" height="384"></canvas>
        <div class="rom-controller">
          <input type="file" name="file" id="file" accept=".ch8,.sc8,.xo8" aria-label="Chip8 file selector">
          <button id="reset-rom-btn" class="default-button">Reset rom</button>
        </div>
      </section>
      <section class="keyboard-container">
        <div class="keyboard">
          <button class="key" data-key-value="0x1">1<span class="keyboard-indicator">1</span></button>
          <button class="key" data-key-value="0x2">2<span class="keyboard-indicator">2</span></button>
          <button class="key" data-key-value="0x3">3<span class="keyboard-indicator">3</span></button>
          <button class="key" data-key-value="0xC">C<span class="keyboard-indicator">4</span></button>
          <button class="key" data-key-value="0x4">4<span class="keyboard-indicator">Q</span></button>
          <button class="key" data-key-value="0x5">5<span class="keyboard-indicator">W</span></button>
          <button class="key" data-key-value="0x6">6<span class="keyboard-indicator">E</span></button>
          <button class="key" data-key-value="0xD">D<span class="keyboard-indicator">R</span></button>
          <button class="key" data-key-value="0x7">7<span class="keyboard-indicator">A</span></button>
          <button class="key" data-key-value="0x8">8<span class="keyboard-indicator">S</span></button>
          <button class="key" data-key-value="0x9">9<span class="keyboard-indicator">D</span></button>
          <button class="key" data-key-value="0xE">E<span class="keyboard-indicator">F</span></button>
          <button class="key" data-key-value="0xA">A<span class="keyboard-indicator">Z</span></button>
          <button class="key" data-key-value="0x0">0<span class="keyboard-indicator">X</span></button>
          <button class="key" data-key-value="0xB">B<span class="keyboard-indicator">C</span></button>
          <button class="key" data-key-value="0xF">F<span class="keyboard-indicator">V</span></div>
        </div>
      </section>
    </main>
    <aside id="configuration-sidebar">
      <button id="close-configurations-button" class="icon-button" aria-label="Close configurations">&#x2715;</button>
      <div class="configuration-content">
        <section class="configuration-group">
          <h2 class="configuration-title">General configurations</h2>
          <ul class="quirks-list">
            <li>
              <label>
                Cycles per frame
                <select name="cycles-per-frame-select" id="cycles-per-frame-select">
                  <option value="7">7 Cycles per frame</option>
                  <option value="15">15 Cycles per frame</option>
                  <option value="20">20 Cycles per frame</option>
                  <option value="30">30 Cycles per frame</option>
                  <option value="100">100 Cycles per frame</option>
                  <option value="200">200 Cycles per frame</option>
                  <option value="500">500 Cycles per frame</option>
                  <option value="1000">1000 Cycles per frame</option>
                  <option value="20000">20000 Cycles per frame</option>
                  <option value="50000">50000 Cycles per frame</option>
                  <option value="100000">100000 Cycles per frame</option>
                  <option value="200000">200000 Cycles per frame</option>
                  <option value="400000">400000 Cycles per frame</option>
                </select>
              </label>
            </li>
          </ul>
        </section>
        <section class="configuration-group">
          <h2 class="configuration-title">Sound settings</h2>
          <ul class="quirks-list">
            <li>
              <label>
                <input type="checkbox" name="sound-state-checkbox" id="sound-state-checkbox">
                Enable/Disable sound
              </label>
            </li>
            <li>
              <label class="block-item">
                Sound level
                <div class="range-input-container">
                  <input type="range" name="sound-level-range" id="sound-level-range" min="0" max="10">
                  <span id="sound-level-value"></span>
                </div>
              </label>
            </li>
          </ul>
        </section>
        <section class="configuration-group">
          <h2 class="configuration-title">Rom Compatibility</h2>
          <ul class="quirks-list">
            <li>
              <label>
                <input type="checkbox" name="vf-quirk-checkbox" id="vf-quirk-checkbox" class="quirk-checkbox" data-quirk-property-name="vfQuirk">
                The AND, OR and XOR opcodes reset the flags register to zero.
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="memory-quirk-checkbox" id="memory-quirk-checkbox" class="quirk-checkbox" data-quirk-property-name="memoryQuirk">
                The save and load opcodes (Fx55 and Fx65) increment the index register.
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="display-wait-quirk-checkbox" id="display-wait-quirk-checkbox" class="quirk-checkbox" data-quirk-property-name="displayWaitQuirk">
                Drawing sprites to the display waits for the vertical blank interrupt, limiting their speed to max 60 sprites per second.
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="clipping-quirk-checkbox" id="clipping-quirk-checkbox" class="quirk-checkbox" data-quirk-property-name="clipQuirks">
                Sprites drawn at the bottom edge of the screen get clipped instead of wrapping around to the top of the screen.
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="shifting-quirk-checkbox" id="shifting-quirk-checkbox" class="quirk-checkbox" data-quirk-property-name="shiftQuirk">
                The shift opcodes only operate on vX instead of storing the shifted version of vY in vX
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="jumping-quirk-checkbox" id="jumping-quirk-checkbox" class="quirk-checkbox" data-quirk-property-name="jumpQuirks">
                The Bnnn instruction doesn't use v0, but vX instead where X is the highest nibble of nnn
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="zero-height-sprite-lores-quirk" id="zero-height-sprite-lores-quirk" class="quirk-checkbox" data-quirk-property-name="zeroHeightSpriteLoresQuirk">
                Adjusts for ROMs that define sprite height as zero in low-resolution mode, interpreting it as a height of 8 pixels.
              </label>
            </li>
          </ul>
        </section>
        <section class="configuration-group">
          <h2 class="configuration-title">Memory Settings</h2>
          <ul class="quirks-list">
            <li>
              <label>
                Memory size
                <select name="memory-size-select" id="memory-size-select">
                  <option value="4096">4096 bytes (CHIP-8/SCHIP)</option>
                  <option value="65536">65536 bytes (XO-CHIP)</option>
                </select>
              </label>
            </li>
          </ul>
        </section>
        <section class="configuration-group">
          <h2 class="configuration-title">Compatibility Presets</h2>
          <div class="button-grid-list">
            <button class="default-button" id="chip8-profile">CHIP-8</button>
            <button class="default-button" id="schip-profile">SCHIP</button>
            <button class="default-button" id="xo-chip-profile">XO-CHIP</button>
          </div>
        </section>
        <section class="configuration-group">
          <h2 class="configuration-title">Appearance</h2>
          <section class="configuration-subsection">
            <h3 class="configuration-subtitle">Color settings</h3>
            <div class="color-select-section">
              <label for="color-palettes-select">Color palettes</label>
              <div class="select-container">
                <select name="color-palettes-select" id="color-palettes-select">
                  <option value="custom" disabled>Custom</option>
                  <optgroup label="Default palettes">
                    <option value="default">Default</option>
                    <option value="black_and_white">Black and white</option>
                    <option value="cyberpunk">Cyberpunk</option>
                    <option value="angry_orange">Angry Orange</option>
                    <option value="octo">Octo</option>
                    <option value="arctic_horizon">Arctic Horizon</option>
                    <option value="harbor_mist">Harbor Mist</option>
                    <option value="autumn">Autumn</option>
                    <option value="gameboy">Game Boy</option>
                  </optgroup>
                  <optgroup label="Custom palettes">
                  </optgroup>
                </select>
                <div class="custom-color-palette-options">
                  <button class="default-button custom-color-palette-button" id="save-custom-color-palette" aria-label="Save current custom color palette" title="Save current custom color palette" style="display: none;" disabled>S</button>
                  <button class="default-button custom-color-palette-button" id="rename-custom-color-palette" aria-label="Rename current stored custom color palette" title="Rename current stored custom color palette" style="display: none;" disabled>R</button>
                  <button class="default-button custom-color-palette-button" id="delete-custom-color-palette" aria-label="Delete current stored custom color palette" title="Delete current stored custom color palette" style="display: none;" disabled>D</button>
                </div>
              </div>
            </div>
            <table class="configuration-table" id="configuration-table">
              <tbody>
                <tr>
                  <td>Background</td>
                  <td class="color-input-container">
                    <input class="color-value" type="text" value="#000000" aria-label="Background color value">
                  </td>
                  <td class="color-swatch-container">
                    <input type="color" class="color-swatch" value="#000000" aria-label="Background color">
                    <div class="color-overlay"></div>
                  </td>
                </tr>
                <tr>
                  <td>Foreground 1</td>
                  <td class="color-input-container">
                    <input class="color-value" type="text" value="#000000" aria-label="Foreground 1 color value">
                  </td>
                  <td class="color-swatch-container">
                    <input type="color" class="color-swatch" value="#000000" aria-label="Foreground 1 color">
                    <div class="color-overlay"></div>
                  </td>
                </tr>
                <tr>
                  <td>Foreground 2</td>
                  <td class="color-input-container">
                    <input class="color-value" type="text" value="#000000" aria-label="Foreground 2 color value">
                  </td>
                  <td class="color-swatch-container">
                    <input type="color" class="color-swatch" value="#000000" aria-label="Foreground 2 color">
                    <div class="color-overlay"></div>
                  </td>
                </tr>
                <tr>
                  <td>Blend</td>
                  <td class="color-input-container">
                    <input class="color-value" type="text" value="#000000" aria-label="Blend color value">
                  </td>
                  <td class="color-swatch-container">
                    <input type="color" class="color-swatch" value="#000000" aria-label="Blend color">
                    <div class="color-overlay"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <section class="configuration-subsection">
            <h3 class="configuration-subtitle">Font settings</h3>
            <label>
              Font appearance
              <select name="font-appearance-select" id="font-appearance-select">
                <option value="chip8">Chip8</option>
                <option value="schip">SCHIP</option>
                <option value="octo">Octo</option>
              </select>
            </label>
          </section>
        </section>
      </div>
    </aside>
  </body>
</html>
