body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}

* {
  color: #34ff66;
  background-color: #222222;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.logo {
  font-family: "Courier New", Courier, monospace;
  font-size: clamp(0.30rem, 1.1vw, 1.39vh);
  margin: 0;
}

.view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emulator-view {
  display: flex;
  flex-direction: column;
}

.emulator-view canvas {
  width: 100%;
  border: 1.5px solid #838383;
  margin-bottom: 1rem;
}

.rom-controller {
  display: flex;
  flex-direction: row;
  gap: 0.8125em;
}

.rom-controller input {
  content: 'Upload rom file';
  border: 2px solid #34ff66;
  padding: 5px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  flex-grow: 10;
}

#reset-rom-btn {
  flex-grow: 1;
  border: 2px solid #34ff66;
  padding: 2px;
  border-radius: 5px;
  user-select: none;
  text-align: center;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#reset-rom-btn:hover {
  background-color: #34ff66;
  color: #222222;
  border: 2px solid #34ff66;
}

#reset-rom-btn:active {
  background-color: #198033;
  color: #e3e3e3;
  border: 2px solid #198033;
}

input[type="file"]::-webkit-file-upload-button {
  display: none;
}

input[type="file"]::-moz-file-upload-button {
  display: none;
}

input[type="file"]::-ms-file-upload-button {
  display: none;
}

input[type="file"]::-o-file-upload-button {
  display: none;
}

input[type="file"]::file-upload-button {
  display: none;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.7rem;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.7em;
  height: 1.7em;
  padding: 0.1rem;
  border-radius: 10%;
  font-size: clamp(1.5rem, 1.5vw, 2.9vh);
  background-color: #333333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  position: relative;
}

.keyboard-indicator {
  position: absolute;
  bottom: 0.0625em;
  right: 0.125em;
  font-size: 0.8rem;
  background-color: #333333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 30%;
  pointer-events: none;
}

.key:hover, .key:hover .keyboard-indicator {
  background-color: #34ff66;
  color: #222222;
}

.key.active, .key.active .keyboard-indicator {
  background-color: #198033;
  color: #e3e3e3;
}
