body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  color: #34ff66;
  background-color: #222222;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  align-items: center;
}

.header-container .header-element-left, .header-container .header-element-right {
  flex: 1;
}

.header-container .header-element-right {
  text-align: end;
}

.header-element-logo {
  margin: 0;
  width: 95%;
  max-width: 50rem;
  height: auto;
  flex-grow: 1;
}

#open-configurations-button {
  font-size: 2.9rem;
  text-align: end;
}

#open-configurations-button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emulator-view {
  display: flex;
  flex-direction: column;
}

.emulator-view canvas {
  width: 100%;
  border: 1.5px solid #838383;
  margin-bottom: 1rem;
}

.rom-controller {
  display: flex;
  flex-direction: row;
  gap: 0.8125em;
}

.rom-controller input {
  content: 'Upload rom file';
  border: 2px solid #34ff66;
  padding: 5px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  flex-grow: 10;
}

.default-button {
  flex-grow: 1;
  border: 2px solid #34ff66;
  padding: 2px;
  border-radius: 5px;
  user-select: none;
  text-align: center;
  cursor: pointer;
  background-color: #222222;
  color: #34ff66;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.default-button:hover {
  background-color: #34ff66;
  color: #222222;
  border: 2px solid #34ff66;
}

.default-button:active {
  background-color: #198033;
  color: #e3e3e3;
  border: 2px solid #198033;
}

.icon-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 2px;
  border-radius: 5px;
  user-select: none;
  text-align: center;
  cursor: pointer;
  color: #34ff66;
}

input[type="file"]::-webkit-file-upload-button {
  display: none;
}

input[type="file"]::-moz-file-upload-button {
  display: none;
}

input[type="file"]::-ms-file-upload-button {
  display: none;
}

input[type="file"]::-o-file-upload-button {
  display: none;
}

input[type="file"]::file-upload-button {
  display: none;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.7rem;
  touch-action: none;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.7em;
  height: 1.7em;
  padding: 0.1rem;
  border-radius: 10%;
  font-size: clamp(1.5rem, 1.5vw, 2.9vh);
  background-color: #333333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  position: relative;
  border: none;
  color: #34ff66;
}

.keyboard-indicator {
  position: absolute;
  bottom: 0.0625em;
  right: 0.125em;
  font-size: 0.67rem;
  background-color: #333333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 30%;
  pointer-events: none;
}

.key:hover, .key:hover .keyboard-indicator {
  background-color: #34ff66;
  color: #222222;
}

.key.active, .key.active .keyboard-indicator {
  background-color: #198033;
  color: #e3e3e3;
}

#close-configurations-button {
  font-size: 2.4rem;
  transition: 0.5s;
  display: flex;
  justify-content: flex-start;
}

#configuration-sidebar {
  width: 40dvh;
  height: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.3s;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translateX(100%);
  padding: 0.5rem;
}

#configuration-sidebar.active {
  transform: translateX(0%);
}

.configuration-content {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.configuration-title {
  color: #34ff66;
  font-size: 1rem;
  text-align: center;
  padding: 5px;
  background-color: #222;
}

.configuration-content > section > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.configuration-content > section > ul > li {
  font-size: .78em;
  padding-bottom: 0.8em;
}

.button-grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.7rem;
}

@media (max-width: 400px), screen and (orientation: portrait) {
  .header-container {
    flex-direction: column-reverse;
    padding: 0;
    gap: 0.5rem;
  }

  .header-container * {
    flex: 1;
  }

  .header-element-right {
    margin-left: auto;
  }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
  .header-container {
   display: none;
  }

  .container {
    flex-direction: row;
    height: 100dvh;
    width: 100dvw;
    gap: 1.5rem;
  }
}
